<?php if (!$block->isStoreScope()) : ?>
<p class="note"><?= $block->escapeHtml(__('Incomaker can only be connected, enabled, or disabled via the Store View menu.'))?><br>
    <?= $block->escapeHtml(__('To connect your login and password, first select the relevant Store View.')) ?>
</p>
<p></p>
<style>tr{display:none!important;}</style>
<?php endif; ?>
<p class="note">
    <?= $block->escapeHtml(__('Need help?')) ?> <a href="https://www.incomaker.com/marketing/magento.xhtml" target="_blank" title="<?= $block->escapeHtmlAttr(__('Setup Guide')) ?>"><?= $block->escapeHtml(__('Setup Guide')) ?></a>
</p>
